.pList {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1024px;
  justify-content: space-between;
  gap: 20px;
}

.pListItem {
  cursor: pointer;
  flex: 1;
}

.pListImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.pListTitle {
  font-size: 18px;
  font-weight: bold;
}

.pListHotels {
  font-size: 14px;
  font-weight: 300;
}
