.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footerContainer {
  font-size: 12px;
  width: 100%;
  max-width: 1024px;
}

.fLists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fText {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: #003580;
}
